*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
.window{
    width:300px;
    height: 200px;
    margin: 20px auto;
    overflow: hidden;
}
.images{
    display: flex;
    transition: all 0.5s;
}
.images>img{
    width: 100%;
    transition: all 1s;
    top:0;
}
#controls,#buttonWrapper{
    text-align: center;
    padding: 5px;
}
#controls>button,#buttonWrapper>button{
    margin: 0 10px;
    
}

